@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: red !important; /* Cor vermelha bem visível */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: blue !important;
}
